*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.liste-container{
    display: flex; 
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 3rem;
   
}

.liste-card1{
    background-image: linear-gradient(to right,rgb(158, 209, 210),rgb(69, 219, 184),rgb(45, 175, 187));
    padding: 1rem;
    line-height: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 3rem;
    border-left: 1rem solid rgba(255, 0, 195, 0.719);

    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.1rem;
    margin-bottom: 1rem ;
    

}
.liste-card2{
    background-image: linear-gradient(to right,rgb(158, 209, 210),rgba(69, 219, 184, 0.2),rgba(46, 183, 195, 0.255));
    padding: 1rem;
    line-height: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 3rem;
    border-bottom: 1rem solid rgba(10, 0, 6, 0.484);

    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.1rem;
    text-decoration: line-through;

}

.liste-card1:hover{
    opacity: 1;
}
.liste-card2:hover{
    opacity: 1;
}

.liste-card h4{
    color: rgb(72, 78, 134);
}


.doktor-liste{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    /* flex-wrap: wrap; */
    margin-bottom: 2rem;
    min-width: 600px;
    
}

.doktor-card{
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 1s;
    
    
}

.doktor-card:hover{
    transform: scale(1.05);
}


img{
    width:180px;
    height: 150px;
    object-fit:cover;
    border-radius: 50%;
    border: 5px solid rgb(45, 175, 187);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.496);
}

.logo{
    border: none;
    box-shadow: 2px 2px 10px 10px rgba(6, 77, 120, 0.496);
}

p{
    background-color: rgba(45, 175, 187, 0.416);
    padding: 5px 1rem;
    border-radius: 1rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right,rgb(158, 209, 210),rgb(69, 219, 184),rgb(45, 175, 187));
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 22rem;
}

.form-control{
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
   outline: none;
   border: none;
    
}

.btn{
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 4rem;
    background-color: #A8DEE3;
    /* color: white; */
    border: none;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    opacity: 0.8;
    

}

.btn:hover{
    opacity: 1;
    cursor: pointer;

}

.filter-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .liste-container {
      margin: 1rem 2rem;
    }
    
    .doktor-liste {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    img {
      width: 150px;
      height: 120px;
    }
  }
  
 
  
  @media screen and (max-width: 480px) {



    .doktor-card {
      width: 100%;
      text-align: center;
    }
    
    img {
      width: 120px;
      height: 100px;
    }
    

    .form-control {
      padding: 0.5rem;
    }
    
    .btn {
      padding: 0.5rem;
    }

    .filter-container{
        flex-direction: column;
    }
  }